<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Title -->
  <title>{{meta_title}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Meta -->
  <meta name="theme-color" />

  <!-- reload -->

  <link rel="preload stylesheet" as="style" href="{{asset "assets/css/main.css"}}" />
  <link rel="preload stylesheet" as="style" href="{{asset "assets/css/custom.css"}}" />
  <link rel="preload" as="image" href="{{asset "assets/imgs/theme.png"}}"/>
  <link rel="icon"  as="image" href="{{asset "assets/imgs/favicon.ico"}}" />
  <link rel="apple-touch-icon"  as="image" href="{{asset "assets/imgs/apple-touch-icon.png"}}" />
  <script defer="" src="/assets/public/cards.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/public/cards.min.css">
  <link rel="stylesheet" type="text/css" href="https://highlightjs.org/static/demo/styles/github-dark.css" >
  <script  defer  src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.6.0/highlight.min.js" onload="hljs.initHighlightingOnLoad();"></script>


  <!-- ghost head uouput -->
  {{ghost_head}}


</head>
